beautifulsoup4==4.8.2
billiard==3.6.3.0
bs4==0.0.1
certifi==2019.11.28
chardet==3.0.4
coala-utils==0.5.1
idna==2.9
lxml==4.5.0
requests==2.23.0
soupsieve==2.0
twitterscraper==1.4.0
urllib3==1.25.8
geopandas==0.7.0
bokeh==2.0.0
textblob==0.15.3
gensim==3.8.2
twint==2.1.20
googletrans==2.4.0
langdetect==1.0.8
seaborn==0.10.1
matplotlib==3.2.1
wordcloud==1.6.0
sklearn==0.0
pytrends==4.7.2
pandas-datareader==0.8.1
newsapi-python==0.2.6
yfinance==0.1.54
pycountry==19.8.18
Flask==1.1.2
nltk==3.5